/laskarit/viikko2/Maksukortti/nbproject/
/laskarit/viikko2/Maksukortti/target/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/Budjetointisovellus/target
/Budjetointisovellus/nbactions.xml
/Budjetointisovellus/nbproject/
/Budjetointisovellus/src/main/resources/
/Budjetointisovellus/budgetapp.db
/Budjetointisovellus/testdb.db
